.intro
  h3 Latest News:
  p.body 
    | It's been a really long time since we've had a meetup, but we're really excited to come back!
    | We're hoping that we can make this process a lot easier now by having a submission form that everyone
    | can use to propose talks. This will let us make this much more of a community event. We're excited
    | to restart the meetup again and hope you can all join us! Please submit your talks and we'll have a meetup 
    | setup in April as soon as we have some speakers lined up.
  hr
