- console.log(meetup);
.rsvp.paul
  h2.rsvp-hed
    
  if meetup && meetup.status == "upcoming"
    h3 RSVP to the next meetup!
    a.btn.call(href='#{meetup.event_url}') RSVP $5
  else
    h3 Sign up for updates
    div.rsvp-body There isn't a meetup scheduled at this time. Check back soon!
    br
    a.btn.call(href='http://meetup.com/#{meetup.group.urlname}') Sign Up